* {
  box-sizeing : border-box;
}

header {
  height : 50px;
  border-bottom-color : 2px black solid;
}

.nav {
  display : flex;
  align-items : center;
}

.nav-items {
  display : flex;
  margin-left : auto;
  margin-right : 10px;
}

.nav-item {
  width : 100px;
  height : 30px;
  background-color : grey;
  margin-left : 10px;
}

.left-main {
  align-items : left; 
}

.main-title {
  font-size : 20px;
  font-weight : 300;
}

.main-subtitle {
  font-size : 40px;
  font-weight : bold;
}
