.nav {
  height : 50px;
  border-bottom : 1px solid black;
  display : flex;
  align-items : center;
}

.nav-items {
  display : flex;
  margin-left : auto;
  margin-right : 10px;
}

.nav-item {
  margin-left : 10px;
}

.left-main {
  align-items : left; 
}

.main-title {
  font-size : 20px;
  font-weight : 300;
}

.main-subtitle {
  font-size : 40px;
  font-weight : bold;
}
